<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudController</servlet-name>
        <servlet-class>com.controllers.StudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachController</servlet-name>
        <servlet-class>com.controllers.TeachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>Upload.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.utility.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>com.controllers.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>com.controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuesController</servlet-name>
        <servlet-class>com.controllers.QuesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultController</servlet-name>
        <servlet-class>com.controllers.ResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnsController</servlet-name>
        <servlet-class>com.controllers.AnsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudController</servlet-name>
        <url-pattern>/StudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachController</servlet-name>
        <url-pattern>/TeachController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuesController</servlet-name>
        <url-pattern>/QuesController</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>guramankaur98@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Pb744400%</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ResultController</servlet-name>
        <url-pattern>/ResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnsController</servlet-name>
        <url-pattern>/AnsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
